.btn {
  font-family: 'Permanent Marker', cursive;
  margin: 5px;
}
#smallBrush {
  font-family: 'Permanent Marker', cursive;
}
#mediumBrush {
  font-family: 'Permanent Marker', cursive;
}
#largeBrush {
  font-family: 'Permanent Marker', cursive;
}
#drawingCanvas {
  background-color:black;
  position:relative;
  top:0;
  left:0;
}
p {
  font-size: 24px;
  font-family: 'Permanent Marker', cursive;
}
h1 {
  font-family: 'Permanent Marker', cursive;
}

.container {
  max-width:1300px !important;
}
.largeFont {
  font-family: 'Permanent Marker', cursive;
  font-size: 55px;
}

a {
font-size: 38px;
}
.aqua {
  color:  #ff80bf;
}
.big {
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-size:60px;
    align-items: center;
}
.fa {
  font-size: 20px;
}
.colorSelector {
  width:160px;
  height:100px;
  border-style: none;
}
.brushSizes {
  background: linear-gradient(to left, #ff6699,  #ff99cc);
}
input {
  background: linear-gradient(to right, #ffb3d9, #ff66ff);
  border-style: none;
}
